.ed-item{
    width: 70%;
}

.ed-item .ed-details {
    height: 150px;
    padding: 20px;
    margin-bottom: 25px;
    position: relative;
}

.ed-details p {
    margin: 10px 0px;
}

/* Date */
sup {
    color: gray;
}

/* Close button */
.ed-details .close {
    position: absolute;
    right: 5px;
}